__pycache__
*.pyc
.cache
.mypy_cache
.env
.venv
.coverage


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*security-sgps.py
*security_backend.py

#Django
staticfiles
media
