__pycache__
*.pyc
.cache
.mypy_cache
.env
.venv
.coverage
coverage.xml
htmlcov/
*.dump


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*security-sgps.py
*security_backend.py

#Django
staticfiles
media
# storage
