python-decouple==3.3
gunicorn==20.0.4
psycopg2-binary==2.8.5
requests==2.23.0
whitenoise==5.1.0
redis==3.5.3
sentry-sdk==0.17.2
topicaxis-opengraph==0.5
beautifulsoup4==4.9.3
django-cleanup==5.1.0
Pillow==7.2.0
django-versatileimagefield==2.0
python-magic-bin==0.4.14; sys_platform != 'linux'
python-magic-debian-bin==0.4.25; sys_platform == 'linux'


celery==4.4.7
django-celery-results==1.2.1

django==2.2.13
djangorestframework==3.11.0
djangorestframework-camel-case==1.1.2
django-extra-fields==3.0.0
djoser==2.0.3
django-cors-headers==3.2.1
django-jet==1.0.8
django-mptt==0.11.0
dj-database-url==0.5.0
django-storages[boto3]==1.9.1

django-querycount==0.7.0
factory-boy==2.12.0
django-extensions==2.2.9
django-debug-toolbar==2.2

pytest==5.4.2
pytest-django==3.9.0
pytest-sugar==0.9.4
flake8==3.8.0a2
black==19.10b0
